.container
  #wrapper{ :class => "full", :style => "margin-top: 60px"}
    .row-fluid
      .span9
        #contact-form
          = form_for(@video_file) do |f|
            %fieldset
              .row-fluid
                = f.label :title, "Название"
                = f.text_field :title, :value => @title, :class => "span4"
              .row-fluid
                = f.label :description, "Описание"
                = f.text_area :description, :value => @description, :class => "span12", :style => "height: 130px"

              %p
                Превью
                %p
                - if @video_file.youtube?
                  %iframe{:width => "300", :height => "169", :src => "//www.youtube.com/embed/#{@video_file.player}", :frameborder => "0", :allowfullscreen => true}
                - elsif @video_file.vimeo?
                  %iframe{:src => "//player.vimeo.com/video/#{@video_file.player}", :width => "300", :height => "169", :frameborder =>"0", :webkitallowfullscreen => true, :mozallowfullscreen => true, :allowfullscreen => true}
                - elsif @video_file.vk?
                  %iframe{:src => "#{@video_file.player}", :width => "300", :height => "169", :frameborder => "0"}

              .actions
                = f.submit "Сохранить", :class => "btn"

= render partial: 'partials/footer'