.container
  #wrapper
    %form
      = render partial: 'partials/messages'
      %fieldset
        .row_fluid
          = form_tag video_files_path, :method => 'get' do
            %input.span8{ :id => "query", :type => "search", :name => "query", :placeholder => "Поиск: Введите название видео" }

    - if @video_files.count > 0
      - if @query
        %h3 Результаты поиска

      #wall.row-fluid.isotope
        %p= paginate @video_files
        - @video_files.each do |file|
          .item.span3.isotope-item
            %p= link_to file.title, video_file_path(file)
            .picture
              - if file.youtube?
                = link_to image_tag("http://img.youtube.com/vi/#{file.player}/0.jpg"), video_file_path(file)
              - elsif file.vimeo?
                = link_to image_tag("#{file.image_url}"), video_file_path(file)
              - elsif file.vk?
                = link_to image_tag("#{file.image_url}"), video_file_path(file)
            .description
              %p
                = file.description
            .meta
              %span
                / %i.fa-icon-calendar
                = I18n.l file.created_at.localtime
              %br
              %span
                / %i.fa-icon-user
                #{file.user.first_name} #{file.user.last_name}
    - else
      %h2{ style: "padding: 200px 0px 200px 0px; text-align: center; color: #000000" } На данный момент объектов нет.

    = render partial: 'partials/pagination'
= render partial: 'partials/footer'