%p
  = link_to "Добавить видео", new_video_file_path

= form_tag video_files_path, :method => 'get' do
  %p
    = search_field_tag :query
  %p
    = submit_tag "Поиск"

- if @video_files.count > 0
  - if @query
    %h3 Результаты поиска
  %ul
    - @video_files.each do |file|
      %li= link_to file.title, video_file_path(file)
      - if file.video_url
        - id = "playerLh7786aL_" + "#{file.id}"
        .div{:id => "playerLh7786aL_" + "#{file.id}"}
          %script{:type=>'text/javascript'}
            = "jwplayer('#{id}').setup({ file: '#{file.video_url}', image: '#{file.image_url}', width: '25%', aspectratio: '16:9', fallback: 'false', primary: 'flash'});".html_safe
- else
  %p На данный момент объектов нет.