.container
  #wrapper
    #wall.row-fluid
      %p= paginate @video_files
      - if @video_files.count > 0
        - @video_files.each do |file|
          .item.span3.isotope-item
            %p= link_to file.title, video_file_path(file)
            .picture
              - if file.youtube?
                = link_to image_tag("http://img.youtube.com/vi/#{file.player}/0.jpg"), video_file_path(file)
              - elsif file.vimeo?
                = link_to image_tag("#{file.image_url}"), video_file_path(file)
              - elsif file.vk?
                = link_to image_tag("#{file.image_url}"), video_file_path(file)
            .description
              %p
                = file.description
              %p
                %strong
                  = link_to "Редактировать", edit_video_file_path(file)
        
      - else
        %h2{ style: "padding: 200px 0px 200px 0px; text-align: center; color: #B8B8B8" } На данный момент объектов нет.
    = render partial: 'partials/pagination'
= render partial: 'partials/footer'