%p
  %strong
    Название:
  = @video_file.title
- if @video_file.player
  - if @video_file.youtube
    %p
      %iframe{:width => "500", :height => "281", :src => "//www.youtube.com/embed/#{@video_file.player}", :frameborder => "0", :allowfullscreen => true}
  - elsif @video_file.vimeo
    %p
      %iframe{:src => "//player.vimeo.com/video/#{@video_file.player}", :width => "500", :height => "281", :frameborder =>"0", :webkitallowfullscreen => true, :mozallowfullscreen => true, :allowfullscreen => true}
  - elsif @video_file.vk?
    %p
      %iframe{:src => "#{@video_file.player}", :width => "500", :height => "281", :frameborder => "0"}

%p
  %strong
    Описание:
  = @video_file.description

%p
  %strong
    Ссылка:
  = link_to @video_file.url, @video_file.url

%p
  = link_to "Редактировать", edit_video_file_path(@video_file)

%p
  = link_to "Остальные видео", video_files_path