<!DOCTYPE html>
<html>
<head>
  <title>Video</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://jwpsrv.com/library/AtF23nyEEeOfwCIACrqE1A.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>
  player.pm
</h1>
<div>
  <p>
    <%= link_to 'Главная', root_path %>
  </p>
  <%- if user_signed_in?%>
    <%= link_to 'Мои видео', my_videos_path %>
    <p>
      <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
    </p>
  <% end%>
</div>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_vk"></a>
<a class="addthis_button_odnoklassniki_ru"></a>
<a class="addthis_button_livejournal"></a>
<a class="addthis_button_mymailru"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_pinterest_share"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52dd74f65cff250e"></script>
<!-- AddThis Button END -->

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= yield %>

</body>
</html>
