<!DOCTYPE html>
<html>
  <head>
    <title>Video</title>
    <%= stylesheet_link_tag    "fonts/droid_sans", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "fonts/droid_serif", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "fonts/boogaloo", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "fonts/economica", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "bootstrap-responsive", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "layerslider", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="./">player.pm</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><%= link_to 'Главная', root_path %></li>
                <%- if user_signed_in?%>
                  <li><%= link_to 'Мои видео', my_videos_path %></li>
                  <li><%= link_to "Добавить видео", new_video_file_path %></li>
                  <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
                <% else %>
                  <li><%= link_to 'Войти', sign_in_path %></li>
                <% end %>
                <li class="share-message">Поделиться с друзьями:</li>
                <li class="links">
                  <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_vk"></a>
                    <a class="addthis_button_odnoklassniki_ru"></a>
                    <a class="addthis_button_livejournal"></a>
                    <a class="addthis_button_mymailru"></a>
                    <a class="addthis_button_google_plusone_share"></a>
                    <a class="addthis_button_pinterest_share"></a>
                  </div>
                  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52dd74f65cff250e"></script>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

  <script type="text/javascript">
    $(document).ready(function(){ 
      var $container = $('#wall.row-fluid.isotope');
      $container.imagesLoaded( function() {
        $container.masonry({
          itemSelector: '.item.span3.isotope-item',
              singleMode: false,
          isResizable: true,
          isAnimated: !Modernizr.csstransitions
        });
      });
    });
  </script>
  <%= yield %>

  </body>
</html>
